  .recettes {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: #f9f9f9;
  }

  .recettes h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
  }

  .recette-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
  }

  .recette-item {
    background: #ffffff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }

  .recette-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  }

  .recette-header {
    padding: 15px;
    border-bottom: 1px solid #ddd;
  }

  .recette-header h3 {
    margin: 0;
    color: #4CAF50;
    font-size: 18px;
  }

  .recette-header p {
    margin: 5px 0 10px;
    color: #555;
    font-size: 14px;
  }

  

  .recette-details {
    padding: 15px;
    background-color: #f4f4f4;
  }

  .recette-details h4 {
    margin-top: 0;
    color: #333;
  }

  .recette-details ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  .recette-details li {
    background: #e8f5e9;
    margin-bottom: 8px;
    padding: 8px 12px;
    border-radius: 4px;
    color: #333;
    font-size: 14px;
  }

  .recette-details li:nth-child(even) {
    background: #d0ebd4;
  }

  .recette-details p {
    margin: 0;
    color: #555;
    font-size: 14px;
  }

  @media (max-width: 600px) {
    .recette-list {
      grid-template-columns: 1fr;
    }
  }

  .recette-history {
    padding: 15px;
    background-color: #fff3e0; /* Couleur douce pour différencier l'historique */
    border-top: 1px solid #ddd;
    border-radius: 0 0 8px 8px; /* S'harmonise avec le reste de la carte */
  }

  .recette-history h4 {
    margin-top: 0;
    color: #ff9800; /* Couleur chaude pour l'historique */
  }

  .recette-history div {
    margin-bottom: 15px;
    padding: 10px;
    background: #ffe0b2;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .recette-history p {
    margin: 0 0 10px;
    color: #333;
    font-size: 14px;
  }

  .recette-history ul {
    list-style: none;
    padding: 0;
  }

  .recette-history li {
    padding: 6px 12px;
    margin-bottom: 6px;
    background: #ffcc80;
    border-radius: 4px;
    font-size: 14px;
    color: #333;
  }


  .history-button {
    margin-right: 10px;
    background-color: #ff9800;
  }

  .history-button:hover {
    background-color: #f57c00;
  }

