.qualite {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.graph-container {
  width: 100%;
  height: 400px;  /* Ajuste la hauteur du graphique comme nécessaire */
  margin-bottom: 30px; /* Ajoute un espacement sous le graphique pour éviter qu'il se superpose avec le tableau */
}
  
  h2 {
    text-align: center;
  }
  

/* Formulaire d'ajout */

.ajout-controle-form {

  margin-bottom: 20px;

  padding: 20px;

  background-color: #e0e0e0;

  border-radius: 5px;

}



.ajout-controle-form div {

  margin-bottom: 10px;

}



.ajout-controle-form label {

  margin-right: 10px;

}



.ajout-controle-form input, .ajout-controle-form select, .ajout-controle-form textarea {

  width: 100%;

  padding: 8px;

  margin-top: 5px;

}



.ajout-controle-form button {

  background-color: #4CAF50;

  color: white;

  border: none;

  padding: 10px 20px;

  margin-top: 10px;

  cursor: pointer;

}





.ajout-controle-form button:hover {

  background-color: #45a049;

}



/* Tableau des contrôles qualité */

table {

  width: 100%;

  border-collapse: collapse;
  margin-top: 20px;

}



table, th, td {
  border: 1px solid #ddd;

}



th, td {
  padding: 8px;
  text-align: left;

}





th {
  background-color: #f2f2f2;

}

.resultat-pass {
  background-color: #4CAF50; /* Vert pour Réussi */
  color: white;
}

.resultat-fail {
  background-color: #f44336; /* Rouge pour Échec */
  color: white;
}

/* Style du bouton Modifier */
.btn-modifier {
  background-color: #FFEB3B; /* Jaune */
  color: black;
  border: none;
  cursor: pointer;
  margin-right: 5px;
}

.btn-modifier:hover {
  background-color: #fdd835; /* Jaune un peu plus foncé */
}

/* Style du bouton Supprimer */
.btn-supprimer {
  background-color: #f44336; /* Rouge */
  color: white;
  border: none;
  cursor: pointer;
  margin-right: 5px;
}

.btn-supprimer:hover {
  background-color: #e53935; /* Rouge plus foncé au survol */
}

